<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dao.learningandroid">

    <application android:label="@string/app_name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TexteditActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CheckboxActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ImageviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListViewDynamicActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListviewAdvancedActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GridViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DateTimeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KaraokeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LearningActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Learning2Activity" android:parentActivityName=".LearningActivity"/>
    </application>

</manifest>